
  <% @posts.each do |post| %>
      <article class='well'>
        <h3><%= link_to post.title, post %></h3>
        <p class="time muted"><time datetime="<%=post.created_at%>"><%= l post.created_at %></time></p>
      </article>
  <% end %>

  <br/>

  <%= link_to 'New Post', new_post_path if admin_signed_in?%>
